{% extends 'base.html' %}
{% block main %}
    <h1 class="text-center mb-4">Create Event</h1>
    <div class="container">
        <div class="form-container p-4 border rounded">
            <form method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <div class="mt-3 text-center">
                    <button type="submit" class="btn btn-primary custom-submit-btn">Create</button>
                </div>
            </form>
        </div>
    </div>

    <style>
        
    </style>
{% endblock %}
