{% extends 'base.html' %}
{% load leaflet_tags %}
{% load parse_iso %}
{% block main %}
<script>
    window.addEventListener("map:init", function (e) {
        var detail = e.detail;
        var lat_lng = ['{{event.venue.latitude}}', '{{event.venue.longitude}}']
        L.marker(lat_lng).addTo(detail.map);
        detail.map.setView(lat_lng, 13);
    }, false);
</script>

<div class="container">
    <div class="event-details">
        <div class="event-title">
            <a href="{{ event.eventbrite_url }}" target="_blank">{{ event.name }}</a>
        </div>
        <div class="event-description">
            {{ event.description }}
        </div>
        <div class="event-datetime">
            <span class="event-date">
                {{ event.start_date.local|parse_iso|date:'Y/m/d' }}
            </span>
            <span class="event-time">
                {{ event.start_date.local|parse_iso|date:'h:i A' }}
            </span>
        </div>
        <div class="event-datetime">
            <span class="event-date">
                {{ event.end_date.local|parse_iso|date:'Y/m/d' }}
            </span>
            <span class="event-time">
                {{ event.end_date.local|parse_iso|date:'h:i A' }}
            </span>
        </div>
        <div class="event-cost">
            Cost: {{ event.cost.price }} {{ event.cost.currency }}
        </div>

        <div class="event-venue">
            <h3>Venue Details</h3>
            <div class="venue-item"><strong>Country:</strong> {{ event.venue.country }}</div>
            <div class="venue-item"><strong>City:</strong> {{ event.venue.city }}</div>
            <div class="venue-item"><strong>Address:</strong> {{ event.venue.full_address }}</div>
            <div class="venue-item"><strong>Latitude:</strong> {{ event.venue.latitude }}</div>
            <div class="venue-item"><strong>Longitude:</strong> {{ event.venue.longitude }}</div>
        </div>
    </div>

    <div class="event-map">
        {% leaflet_map "yourmap" %}
    </div>
</div>

{% endblock %}
