{% extends 'base.html' %}
{% load leaflet_tags %}
{% load parse_iso %}
{% block main %}
        <script>
    window.addEventListener("map:init", function (e) {
        var detail = e.detail;
        var lat_lng = ['{{event.venue.latitude}}', '{{event.venue.longitude}}']
        L.marker(lat_lng).addTo(detail.map);
        detail.map.setView(lat_lng, 13);
    }, false);
</script>
 <div class="container">
 <div class="card" style="width: 24rem;">
   {% leaflet_map "yourmap" %}

  <div class="card-body">
    <h5 class="card-title">{{ event.name }}</h5>
    <p class="card-text">{{ event.description }}</p>
      <hr>
    <p class="card-text">Starts: {{ event.start_date.local|parse_iso|date:'d/m/Y' }}</p>
    <p class="card-text">Ends: {{ event.end_date.local|parse_iso|date:'d/m/Y' }}</p>
  </div>
</div>
 </div>

{% endblock %}